@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Charmonman:wght@400;700&family=DM+Serif+Text:ital@0;1&family=League+Script&family=Mystery+Quest&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // border: .5px solid red;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 100%; // default navegadores 16px
}

/* ----------------------------------------------- */
/* HEADER                                          */
/* ----------------------------------------------- */
/* MOBILE FIRST */

.main-header {
    display: flex;
    flex-direction: column-reverse;

    @media screen and (min-width: 992px) {
        & {
            flex-direction: column;
        }
    }
}

#menu {
    display: none;

    /* Hacer funcionar el checkbox -> Hacer funcionar el menú hamburgüesa */
    &:checked + .nav-bar {
        display: block;
    }
}

/* ----------------------------------------------- */
/* NAVBAR                                          */
/* ----------------------------------------------- */

.nav-bar {
    display: none; /* se oculta el menú */

    &__nav-list { /* .nav-bar__nav-list */
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style-type: none;

        @media screen and (min-width: 992px) {
            & {
                flex-direction: row;
            }
        }
    }

    &__nav-item { /* .nav-bar__nav-item */
        text-align: center;
        background-color: pink;
    }

    &__nav-link {
        display: block;
        padding: 1rem 2rem;
        color: #bfa2bd;
        font-weight: bold;
        background-color: #fefefe;
        width: 100%;
    }

    @media screen and (min-width: 992px) {
        & {
            display: block; /* muestra el menú */
            order: 1;
        }
    }
}

/* ----------------------------------------------- */
/* SEARCH BAR                                          */
/* ----------------------------------------------- */

.search-bar {
    display: flex;
    justify-content: space-between;

    
    background-color: #fefefe;
    
    &__logo-container {
        display: flex;
        justify-content: start;
        align-items: center;

        width: 90%;
        margin-left: 10px;


        & h1 {
            width: 70%;
            text-align: start;
            font-family: "Charm", serif;
            font-weight: bold;
            font-size: 40px;
            letter-spacing: 5px;
            color: #bfa2bd;
        }
    }

    &__carrito-container {
        align-self: center;
    
        & img {
            width: 43px;
        }

    }
}

/* ----------------------------------------------- */
/* MENÚ TOOGLE                                     */
/* ----------------------------------------------- */

.menu-toogle {
    display: block;

    flex: 0 0 3rem;
    position: relative;
    cursor: pointer; /* manito */

    &__label { /* .menu-toogle__label */
        display: block;
        background-color: #fefefe;
        height: 100%;
    }

    &__top-bread, /* .menu-toogle__top-bread */
    &__meat, /* .menu-toogle__top-bread */
    &__bottom-bread { /* .menu-toogle__top-bread */
        displaY: block;
        background-color: #bfa2bd;
        height: .5rem;
        position: absolute;
        left: .5rem;
        right: .5rem;
    }

    &__top-bread {
        top: 1rem;
    }

    &__meat { /* Centrar sin usar flexbox */
        top: 50%; /* centrando verticalmente */
        margin-top: -.25rem;
    }

    &__bottom-bread {
        bottom: 1rem;
    }

    @media screen and (min-width: 992px) {
        & {
            display: none; /* oculta el menú */
        }        
    }
}

/* ----------------------------------------------- */
/* HISTORY LUNARTE                                 */
/* ----------------------------------------------- */

.lunarte {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    float: right;

    gap: 5px;
    margin-top: 50px;

    &__born {
        display: flex;
        justify-content: center;
        align-items: center;  
    }
}