/* ----------------------------------------------- */
/* HEADER                                          */
/* ----------------------------------------------- */
/* MOBILE FIRST */
.main-header {
    display: flex;
    flex-direction: column-reverse;

    @media screen and (min-width: 992px) {
        & {
            flex-direction: column;
        }
    }
}

#menu {
    display: none;

    /* Hacer funcionar el checkbox -> Hacer funcionar el menú hamburgüesa */

    &:checked + .nav-bar {
        display: block;
    }
}

/* ----------------------------------------------- */
/* NAVBAR                                          */
/* ----------------------------------------------- */

.nav-bar {
    display: none; /* se oculta el menú */
    order: 2;

    &__nav-list { /* .nav-bar__nav-list */
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        list-style-type: none;

        @media screen and (min-width: 992px) {
            & {
                flex-direction: row;
            }
        }
    }

    &__nav-item { /* .nav-bar__nav-item */
        text-align: center;
        background-color: pink;
    }

    &__nav-link {
        display: block;
        padding: 1rem 2rem;
        color: #333;
        font-weight: bold;
        background-color: #fefefe;
        width: 100%;
    }

    @media screen and (min-width: 992px) {
        & {
            display: block; /* muestra el menú */
        }
    }
}

/* ----------------------------------------------- */
/* SEARCH BAR                                          */
/* ----------------------------------------------- */

.search-bar {
    order: 1;
    display: flex;
    justify-content: space-around;
    
    background-color: #fefefe;

    &__logo-container { /* .search-bar__logo-container */
        display: flex;
        justify-content: center;

        width: 10rem;
        height: 3.75rem;
    }

    &__form-container { /* .search-bar__form-container */
        display: flex;
        justify-content: center;
        flex-basis: 100%;
        
        padding: 1rem;
        gap: 2px;
    }

    &__form-label {
        width: 0;
        visibility: hidden;
    }
    
    &__form-search {
        border-radius: 5px;
        width: 60%;
    }
    
    &__form-submit {
        font-weight: bold;

        border-radius: 5px;
        padding-left: 5px;
        padding-right: 5px;
    }

    &__carrito-container {
        /* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
        flex: 0 0 3rem; /* shorthand (grow shrink basis) */
    }
}

/* ----------------------------------------------- */
/* MENÚ TOOGLE                                     */
/* ----------------------------------------------- */

.menu-toogle {
    display: block;

    background-color: red;
    flex: 0 0 3rem;
    position: relative;
    cursor: pointer; /* manito */

    &__label { /* .menu-toogle__label */
        display: block;
        background-color: #fefefe;
        height: 100%;
    }

    &__top-bread, /* .menu-toogle__top-bread */
    &__meat, /* .menu-toogle__top-bread */
    &__bottom-bread { /* .menu-toogle__top-bread */
        displaY: block;
        background-color: #333;
        height: .2rem;
        position: absolute;
        left: .5rem;
        right: .5rem;
    }

    &__top-bread {
        top: .8rem;
    }

    &__meat { /* Centrar sin usar flexbox */
        top: 50%; /* centrando verticalmente */
        margin-top: -.1rem;
    }

    &__bottom-bread {
        bottom: .8rem;
    }

    @media screen and (min-width: 992px) {
        & {
            display: none; /* oculta el menú */
        }        
    }

}




